<div class='todo'>

  <!-- <mat-form-field>
    <input value={{todos.name}}>
  </mat-form-field> -->

  <div class="todo--section">
    <div class="todo--description">
      <input value={{todos.name}} placeholder="Placeholder">
    </div>
    <div class="todo-checkbox">
      <mat-checkbox class='todo--input' [(ngModel)]="todos.done"></mat-checkbox>
    </div>
  </div>

  <div class='todo-action-wrapper'>
    <i class="material-icons" (click)="editTodo(todos)">
      edit
    </i>
    <i class="material-icons">
      delete
    </i>

  </div>
  <mat-divider></mat-divider>
</div>