.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo--section {
    display: flex;
    min-width: 100%;
    background: #fff;
    padding: 20px 0;
    .todo--description {
        flex: 2;
        background-color: inherit;
        input {
            min-width: 100%;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    .todo-checkbox {
        flex: 0.5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        mat-checkbox {
            margin-right: 20px;
        }
        .mat-checkbox-inner-container {
            height: 50px !important;
            width: 50px !important;
        }
    }
}

.todo-action-wrapper {
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
}