<div class='todos--header' *ngIf='!showNewTodo'>
  <i class="material-icons" (click)='showNewTodoSection()'>
    add
  </i>
  <span> add Task </span>
</div>
<form action="/api/addTodo" (ngSubmit)="submit()" method="POST" *ngIf='showNewTodo' class=todos--create>

  <mat-form-field class="example-form-field">
    <input matInput type="text" name='name' id='name' placeholder="What do you want to get done" [(ngModel)]="newtodo.name">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <input matInput type="text" name='comments' id='comments' placeholder="Comments" [(ngModel)]="newtodo.comments">
  </mat-form-field>
  <button mat-button *ngIf="newTodo" matSuffix mat-icon-button aria-label="Clear" (click)="newTodo=''">
    <mat-icon>close</mat-icon>
  </button>

  <div class='btn-group' *ngIf='showNewTodo'>
    <button mat-raised-button color="warn" type='submit'>Add</button>
    <button mat-raised-button color="accent" (click)='showNewTodoSection()'>Cancel</button>
  </div>
</form>

<ul *ngFor="let todo of todos">
  <app-todo [todos]='todo'></app-todo>
</ul>