/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$primaryColor:#4dc1e6;
$secondaryColor:#f7f7f7;
$selectedColor:#d9d9d9;
app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 720px) {
    app-root {
        top: 92px;
    }
}

app-todos {
    height: 100%;
}